doctype html
html(lang='ru')
	block vars
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title=pageTitle
		meta(name='description' content=pageDescription)
		meta(name='keywords' content=pageKeywords)
		meta(property='og:title' content=pageTitle)
		meta(property='og:description' content=pageDescription)
		meta(property='og:image' content='images/cover-project.jpg')
		meta(name='robots' content='noindex, nofollow')
		link(rel='shortcut icon' type='image/png' href='images/favicon.ico')
		link(rel='apple-touch-icon' href='images/favicon.ico')
		link(rel='stylesheet' type='text/css' href='css/jquery.fancybox.css')
		link(rel='stylesheet' type='text/css' href='css/style.css')
	body(class=pageName)
		.overlay
		include header
		block content
		include footer
		include form
		include icons.html
		block scripts
			script(src='libs/jquery-3.5.1.min.js')
			script(src='libs/jquery.fancybox.min.js')
			script(src='libs/just-validate.min.js')
			script(src='libs/inputmask.min.js')
			if pageName === "main-page" | pageName === "contacts-page"
				script(async src="https://api-maps.yandex.ru/2.1/?load=package.standard&lang=ru_RU&scroll=false&onload=getYaMap")
			else 	
				
			script(src='js/main.js')